/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Varela+Round&display=swap');

$onyx: #393e41ff;
$timberwolf: #d3d0cbff;
$platinum: #e7e5dfff;
$keppel: #44bba4ff;
$maize-crayola: #e7bb41ff;

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

html, body {
    background-color: $platinum;
    overflow: hidden;
}

.container {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

section { 
    min-height: 100vh;
    scroll-snap-align: start;
    position: relative;
}