$onyx: #393e41ff;
$timberwolf: #d3d0cbff;
$platinum: #e7e5dfff;
$keppel: #44bba4ff;
$maize-crayola: #e7bb41ff;

.top-page {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: ". .";
}

.top-page .presentation {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: $onyx;
}

.top-page .presentation h1 {
    text-transform: uppercase;
    font-family: 'Permanent Marker', sans-serif;
    font-style: italic;
    font-size: 180px;
    user-select: none;
}

.top-page .presentation p {
    font-size: 40px;
    text-align: center;
}

.top-page .presentation .medias {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.top-page .presentation .medias a.media {
    color: $onyx;
    font-size: 50px;
    transition: .3s cubic-bezier(.75,0,.3,1);
}

.top-page .presentation .medias a.media:hover {
    transform: scale(1.5);
}

.top-page .logo {
    position: relative;
    background-color: $maize-crayola;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-page .logo:after {
    content: "";
    width: 2vw;
    height: 100%;
    position: absolute;
    right: -2vw;
    cursor: col-resize;
}

.top-page .logo img {
    user-select: none;
    position: absolute;
    width: 80%;
    transition: .2s;
}

.top-page.left-is-small .logo img {
    width: calc(140%);
    transform: rotate(-90deg);
}

@keyframes wobbling {
    from { transform: rotate(-10deg); }
    to { transform: rotate(10deg); }
}

@media screen and (max-width: 950px) {
    .top-page .logo {
        display: none;
    }
    .top-page .presentation {
        width: 100vw;
        position: absolute;
        right: 0;
        z-index: 1;
    }
}
